name: Test Edge TTS

on:
  workflow_dispatch:

jobs:
  test-edge-tts:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install system deps for Edge TTS
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install edge-tts
        run: |
          pip install edge-tts==7.2.1

      - name: Run Edge TTS test
        run: |
          python - << 'EOF'
          import os
          import edge_tts
          import asyncio
          from pathlib import Path
          
          async def main():
              audio_path = Path("test.mp3")
              text = "Проверка связи. Это test."
              voice="ru-RU-DmitryNeural"
              
              communicate = edge_tts.Communicate(text, voice)
              communicate.save_sync(audio_path)
              
              audio_header = audio_path.read_bytes()[:4]
              print(f'audio_header: {audio_header}')
              print("Edge TTS works correctly")
              
          asyncio.run(main())
          EOF
