name: Test Edge TTS

on:
  workflow_dispatch:

jobs:
  test-edge-tts:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install ffmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends ffmpeg

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        run: |
          uv python install ${{ matrix.python-version }}
          uv venv

      - name: Install edge-tts
        run: |
          uv pip install edge-tts==7.2.1

      - name: Run Edge TTS test
        run: |
          uv run python - << 'EOF'
          import os
          import edge_tts
          import asyncio
          from pathlib import Path
          
          async def main():
              audio_path = Path("test.mp3")
              text = "Проверка связи. Это test."
              voice="ru-RU-DmitryNeural"
              
              communicate = edge_tts.Communicate(text, voice)
              communicate.save_sync(audio_path)
              
              audio_header = audio_path.read_bytes()[:4]
              print(f'audio_header: {audio_header}')
              print("Edge TTS works correctly")
              
          asyncio.run(main())
          EOF

      - name: Upload TTS result artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: tts-audio
          path: test.mp3
          if-no-files-found: ignore
          retention-days: 1
          